<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.staffgrafico.golpasion"
        versionCode = "1" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Gol Pasión</name>

    <description>
        Aplicación para tenerte al día con todo lo relacionado al Mundial Brasil 2014. 
    </description>

    <author href="http://www.staffgrafico.com" email="mlrodriguez@staffgrafico.com">
        María Luisa Rodríguez L. 
    </author>

<icon src="icon.png" />

<gap:splash src="splash.png" />

</widget>